@media (max-width: 1200px) {
  .base {
    width: 857px;
    height: 1437px;
  }
  .generic {
    width: 735px;
    height: 1207px;
    transform: translate(0%, 5%);
  }
  #main{
    width: 857px;
    height: 1437px;
  }
  .secciones{
    width: 562px;
    height: 366px;
  }

  .square{
    width: 150px;
    height: 135px;
  }
  .recomendados{
    width: 560px;
    height: 190px;
  }
  .sorterRow{
    width: 430px;
    height: 98px;
  }

  .smallSquare{
    height: 100px;
    width: 110px;
    transform: translate(0%,60%);
  }
  .smallText{
    height: 10%;
  }
  .login{
    justify-content: space-evenly;
    
  }
}
@media (max-width: 800px) {
  .base {
    width: 360px;
    height: 640px;
  }
  .generic{
    height: 292px;
    width: 211px;
    transform: translate(0%, 40%);
  }
  #main{
    width:360px;
    height:640px;
  }
  .secciones{
    width: 259px;
    height: 186px;
  }
  .square{
    height: 70px;
    width: 70px;
  }
  .recomendados{
    width: 259px;
    height: 98px;
  }
  .sorterRow{
    width: 279px;
    height: 66px;
  }
  .smallSquare{
    height: 50px;
    width: 50px;
  }
  .smallText{
  }
}

.base{
  border:2px solid black;
  margin:250px auto;
}
.generic{
  background-color: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
#main{
  position:relative;
  border:2px solid black;
  border-radius: 21px;
  margin:50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
#logo{
  height: 200px;
  width: 200px;
  background-image: url("https://img.icons8.com/external-itim2101-lineal-itim2101/192/000000/external-world-internet-of-things-itim2101-lineal-itim2101.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bbb;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 60%) 
}

#logoPequeño{
  height: 50px;
  width: 50px;
  background-image: url("https://img.icons8.com/external-itim2101-lineal-itim2101/32/000000/external-world-internet-of-things-itim2101-lineal-itim2101.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bbb;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 60%) 
}

#logoText{
  height: 200px;
  width: 200px;
  text-align: center;
  transform: translate(0%, 100%) 
}

.circulo{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.etiqueta{
  padding: 12px 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-decoration: none;
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 10px solid #C4C4C4;
  border-radius: 21px;
  box-sizing: border-box;
}

button {
  background-color: #FCFCFC;
  color: black;
  padding: 12px 14px;
  margin: 8px auto;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  width: 40%;
}

.button {
  background-color: #FCFCFC;
  color: black;
  padding: 12px 14px;
  margin: 8px auto;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  width: 40%;
  text-decoration: none;
}

button:hover {
  opacity: 0.5;
}

.registro{
  width: 232px;
  height: 405px;
  transform: translate(0%, 20%);
}
input[type=checkbox] {
  display: inline-block;
  border: 10px solid #C4C4C4;
  border-radius: 21px;
  box-sizing: border-box;
  transform: translate(100%, 20%);
}
.exito{
  position: relative;
  width: 211px;
  height: 102px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 170%);
  display: flex;
  justify-content:center;
}
.textBox{
  background-color: #FCFCFC;
  width: 80%;
  height: 50px;
  color: #000;
  border-radius: 21px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  align-items: center;
  justify-content:center;
}
.secciones{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 00%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.recomendados{
  position: relative;
}

.sorterRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.sorterColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.square{
  background-color: #E4E4E4;
  border-radius: 21px;
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 4%;
}
.smallSquare{
  background-color: #E4E4E4;
  border-radius: 21px;
  display: inline-block;
  margin: 1%;
}
